
@inherits InvoicesServicesBase

    <!-- Форма -->  
    <FormTableComponent ItemsCollection="@invoiceServicesList">
        <TableTitleFragment>
            Услуги ЖКХ
        </TableTitleFragment>
        <TableOtherTitleFragment>
            <p><span class="CSSAttantonInvoiceService">Важно!!!</span> Перед добавлением услуг не забудьте внести показания счетчиков!</p>
        </TableOtherTitleFragment>
        <TableTitleButtonFragment>
            <div class="col">
                <button class="btn btn-success" @onclick="OpenModal">Добавить</button>
                
            </div>
            <div class="col text-right">
                <button class="btn btn-danger" @onclick="OnClickReturnToInvoces">Вернуться к списку квитанций</button>
            </div>
            
        </TableTitleButtonFragment>
        <TableHeaderFragment>
            <th scope="col" class="w-50">Услуга</th>
            <th scope="col" class="w-25">Показания счетчика</th>
            <th class="w-25"></th>
        </TableHeaderFragment>
        <TableBodyFragment>
            <TableBodyComponent ItemsCollection="@invoiceServicesList">
                <ItemFragment Context="context">
                    <RowInvoiceServicesTable InvoiceServices="context" EditEvent="Edit" RemoveEvent="RemoveAsync"/>
                </ItemFragment>
            </TableBodyComponent>
        </TableBodyFragment>
    </FormTableComponent>


@if(services != null)
{ 
    <!-- Modal -->
    <Modal @ref="modal" CloseWindow="CloseModal">
        <Title>
            <p>Добавление новой услуги ЖКХ </p>
        </Title>
        <Body>
            <ModalFormComponent T="@InvoiceServiceViewModel" ViewModel="@InvoiceServiceModel" SaveEvent="AddAsync">
                <TitleFragment>
                    Поставщик: @provider.NameProvider
                </TitleFragment>
                <FormBodyFragment>
                    <ModalFormRowComponent>
                        <RowFragment>
                            <InputSelect class="form-control" placeholder="Услуга" @bind-Value="@InvoiceServiceModel.IdService">
                                @foreach (var item in services)
                                {
                                    <option value="@item.IdService">@item.NameService</option>
                                }
                            </InputSelect>
                        </RowFragment>
                    </ModalFormRowComponent>
                </FormBodyFragment>
            </ModalFormComponent>
        </Body>
    </Modal>
}



