
@inherits ProviderServicesBase
<!-- Форма -->
<FormTableComponent ItemsCollection="providersServicesCollection">
    <TableTitleFragment>
        Услуги ЖКХ предоставляемые Поставщиками
    </TableTitleFragment>
    <TableOtherTitleFragment>
        <h4>Поставщик: @Provider.NameProvider</h4>
    </TableOtherTitleFragment>
    <TableTitleButtonFragment>
        <div class="col">
            <button class="btn btn-success" @onclick="()=>OpenModal()">Добавить услугу</button>
        </div>
        <div class="col text-right">
            <button class="btn btn-danger" @onclick="OnClickReturnToProviders">Вернуться к списку поставщиков</button>
        </div>
    </TableTitleButtonFragment>
    <TableHeaderFragment>
        <th scope="col" class="w-75">Услуга</th>
        <th scope="col" class="w-auto text-center"></th>
    </TableHeaderFragment>
    <TableBodyFragment>
        <TableBodyComponent ItemsCollection="@providersServicesCollection">
            <ItemFragment Context="context">
                <RowProviderServicesTable ProviderServices="context" EditEvent="Edit" RemoveEvent="Remove" />
            </ItemFragment>
        </TableBodyComponent>
    </TableBodyFragment>
</FormTableComponent>

<!-- Modal -->
@if (services != null)
{
    <Modal @ref="modal" CloseWindow="CloseModal">
        <Title>@modalLabel</Title>
        <Body>
            <ModalFormComponent T="@ProviderServiceViewModel" ViewModel="@ProviderServiceModel" SaveEvent="AddAsync" >
                <FormBodyFragment>
                    <ModalFormRowComponent>
                        <RowFragment>
                            <label class="form-check-label mb-2">Выберите услугу</label>
                            <InputSelect class="form-control" @bind-Value="@ProviderServiceModel.IdService">
                                @foreach (var item in services)
                                    {
                                    <option value="@item.IdService">@item.NameService</option>
                                    }
                            </InputSelect>
                        </RowFragment>
                    </ModalFormRowComponent>
                </FormBodyFragment>
            </ModalFormComponent>
        </Body>
        <Footer></Footer>
    </Modal>
}