
@inherits ProviderServicesBase

@if (services == null && providersServicesCollection == null)
{
    <Spinner></Spinner>
}
else
{
    <!-- Форма -->
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <h2 class="text-center">Услуги ЖКХ предоставляемые Поставщиками </h2>
                <h4>Поставщик: @Provider.NameProvider</h4>
                <!--Добавление услуг поставщику-->
                <div class="row mb-3">
                    <div class="col">
                        <button class="btn btn-success" @onclick="()=>OpenModal()">Добавить услугу</button>
                    </div>
                    <div class="col text-right">
                        <button class="btn btn-danger" @onclick="OnClickReturnToProviders">Вернуться к списку поставщиков</button>
                    </div>
                </div>
                <!--  Таблица с периодами  -->
                <table class="table table-sm table-bordered table-hover ">
                    <!--Заголовок таблицы-->
                    <thead class="table-dark text-center">
                        <tr>
                            <th scope="col" class="w-75">Услуга</th>
                            <th scope="col" class="w-auto text-center"></th>
                        </tr>
                    </thead>
                    <!--Тело таблицы-->
                    @foreach (var item in providersServicesCollection)
                    {
                        <tbody>
                            <tr>
                                <!--Услуга-->
                                <td>
                                    <div>
                                        @item.Service.NameService
                                    </div>

                                </td>
                                <!--Блок кнопок-->
                                <td>
                                    <div class="text-center">
                                        <button class="btn btn-sm btn-info" @onclick="(() => Edit(item))">Изменить</button>
                                        <button class="btn btn-sm btn-danger" @onclick="(() => Remove(item))">Удалить</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <Modal @ref="modal" CloseWindow="CloseModal">
        <Title>@modalLabel</Title>
        <Body>
            <div>
                <table class="table table-sm table-bordered table-hover">
                    <thead class="table-light">
                        <tr>
                            <th class="w-50"></th>
                            <th class="w-25"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <!--Услуга-->
                                <div>
                                    <select class="form-control" placeholder="Услуга" @bind="serviceName">
                                        @foreach (var item in services)
                                        {
                                            <option>@item.NameService</option>
                                        }
                                    </select>
                                </div>
                            </td>
                            <td>
                                <div class="text-center">
                                    <button type="button" class="btn btn-sm btn-primary" @onclick="Add">@buttonLabel</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </Body>
        <Footer></Footer>
    </Modal>
}

