@page "/Services/ServicesCounters/"

@inherits ServicesCountersBase

@if (services != null)
{
    <!-- Форма -->
    <FormTableComponent ItemsCollection="@serviceCounters">
        <TableTitleFragment>
            Показания счетчиков услуг ЖКХ
        </TableTitleFragment>
        <TableTitleButtonFragment>
            <div class="col">
                <button class="btn btn-success" @onclick="()=>OpenModal()">Добавить</button>
            </div>
        </TableTitleButtonFragment>
        <TableHeaderFragment>
            <th scope="col" class="w-auto">Дата передачи</th>
            <th scope="col" class="w-auto">Услуга</th>
            <th scope="col" class="w-auto">Показания счетчика</th>
            <th scope="col" class="w-auto text-center"></th>
        </TableHeaderFragment>
        <TableBodyFragment>
            <TableBodyComponent ItemsCollection="@serviceCounters">
                <ItemFragment Context="context">
                    <RowServiceCountersTable ServicesCounter="context" EditEvent="Edit" RemoveEvent="Remove" />
                </ItemFragment>
            </TableBodyComponent>
        </TableBodyFragment>
    </FormTableComponent>

    <!-- Modal -->
    <Modal @ref="modal" CloseWindow="CloseModal">
        <Title>Добавление показаний счетчика услуги ЖКХ</Title>
        <Body>
            <ModalTableComponent T="ServiceCounterViewModel" ViewModel="@ServiceCounterModel" SaveEvent="@AddAsync">
                <TableHeaderFragment>
                    <th class="w-25">Дата передачи</th>
                    <th class="w-50">Услуга</th>
                    <th class="w-25">Показания</th>
                </TableHeaderFragment>
                <TableBodyFragment>
                    <td>
                        @*Дата*@
                        <div>
                            <InputDate class="form-control" placeholder="Дата передачи" @bind-Value="ServiceCounterModel.DateCount" />
                        </div>
                    </td>
                    <td>
                        @*Услуга*@
                        <div>
                            <InputSelect class="form-control" placeholder="Услуга" @bind-Value="ServiceCounterModel.ServiceId">
                                @foreach (var item in services)
                                 {
                                    <option value="@item.IdService">@item.NameService</option>
                                 }
                            </InputSelect>
                        </div>
                    </td>
                    <td>
                        @*Показания счетчика*@
                        <div>
                            <InputNumber class="form-control" placeholder="Показания счетчика" @bind-Value="ServiceCounterModel.ValueCounter" />
                        </div>
                    </td>
                </TableBodyFragment>
            </ModalTableComponent>
        </Body>
    </Modal>

}

