@page "/Services/Services"

@inherits ServicesBase

<Toast @ref="toast" OnClickConfirm="Confirm">
    <Message>@message</Message>
</Toast>

<!-- Форма -->
<FormTableComponent ItemsCollection="@Services">
    <TableTitleFragment>
        Услуги ЖКХ
    </TableTitleFragment>
    <TableTitleButtonFragment>
        <div class="col">
            <button class="btn btn-success" @onclick="() => OpenModal()">Добавить</button>
        </div>
    </TableTitleButtonFragment>
    <TableHeaderFragment>
        <th scope="col" class="w-75">Наименование услуги</th>
        <th scope="col" class="w-auto"></th>
    </TableHeaderFragment>
    <TableBodyFragment>
        <TableBodyComponent ItemsCollection="@Services">
            <ItemFragment Context="service">
                <RowServicesTable Service="service" EditEvent="Edit" RemoveEvent="Remove" />
            </ItemFragment>
        </TableBodyComponent>
    </TableBodyFragment>
</FormTableComponent>


<!-- Modal -->
<Modal @ref="modal" CloseWindow="CloseModal">
    <Title>@modalTitle</Title>
    <Body>
        <ModalFormComponent T="@ServiceViewModel" ViewModel="@ServiceModel" SaveEvent="AddAsync">
            <FormBodyFragment>
                <ModalFormRowComponent>
                    <RowFragment >
                        <InputText class="form-control" placeholder="Наименование услуги" @bind-Value="ServiceModel.Name" />
                    </RowFragment>
                </ModalFormRowComponent>
                <ModalFormRowComponent>
                    <RowFragment>
                        <InputCheckbox @bind-Value="ServiceModel.IsCounter" class="align-content-center" />
                        <label class="form-check-label">Услуга подразумевает наличие счетчика </label>
                    </RowFragment>
                </ModalFormRowComponent>
            </FormBodyFragment>
        </ModalFormComponent>
    </Body>
</Modal>

