@page "/Services/Payments"

@inherits PaymentsBase



@if (isUpload)
{
    <InputPDFFile OnUploadReturnToPaiment="SetOrder" />
}
else
{
        <!-- Форма -->
    <FormTableComponent ItemsCollection="@paymentsList">
        <TableTitleFragment>
            Платежи за услуги ЖКХ
        </TableTitleFragment>
        <TableTitleButtonFragment>
            <!--Добавление нового платежа-->
            @if (Invoice != null)
            { 
                <div class="col">
                    <button class="btn btn-success" @onclick="()=>OpenModal()">Добавить</button>
                </div>
                <div>
                    <button class="btn btn-info mr-3" @onclick="OnPaimentReturnToInvoices">Вернуться к квитанциям</button>
                 </div>
            }
        </TableTitleButtonFragment>
        <TableHeaderFragment>
            <th scope="col"> Период</th>
            <th scope="col" class="w-auto">Наименование поставщика</th>
            <th scope="col" class="w-auto">Сумма по квитанции</th>
            <th scope="col" class="w-auto">Дата оплаты</th>
            <th scope="col" class="w-auto">Сумма платежа</th>
            @if (Invoice != null)
            {
                <th scope="col" class="w-25"></th>
            }
            <th scope="col" class="w-auto"></th>
        </TableHeaderFragment>
        <TableBodyFragment>
            <TableBodyComponent ItemsCollection="@paymentsList">
                <ItemFragment Context="context">
                    <RowPaymentsTable Payment="context" EditEvent="Edit" RemoveEvent="Remove" DownloadFileEvent="DownloadFile" Invoice="Invoice"/>
                </ItemFragment>            
            </TableBodyComponent>
        </TableBodyFragment>
    </FormTableComponent>
}

@if (invoice != null)
{
    <!-- Modal -->
    <Modal @ref="modal" CloseWindow="CloseModal">
        <Title>
            Добавление новой оплаты за услуги ЖКХ <br />
            Поставщик услуг ЖКХ: @invoice.Provider.NameProvider <br />
            Период оплаты: @invoice.Period
        </Title>
        <Body>
            <div class="row mb-3 text-center">
                <div class="col-1 text-center align-content-center">
                    <!--Чек-бокс-->
                    <input type="checkbox" @bind ="paid" class="align-content-center" />
                </div>
                <div class="col-3">
                    <input class="form-control text-center" placeholder="Дата оплаты" @bind-value="datePayment" />
                </div>
                <div class="col-3">
                    <input class="form-control text-right" placeholder="Сумма платежа" @bind-value="paymentSum" />
                </div>
                <div class="col-5">
                    <a class="btn btn-sm btn-outline-success" role="button" href="@invoice.Provider.WebSite" target="_blank">Перейти к оплате</a>
                    <button class="btn btn-sm btn-info" @onclick="UploadOrder">Загрузить платежку</button>
                </div>
            </div>
        </Body>
        <Footer>
            <button class="btn btn-sm btn-danger " @onclick="Add">Сохранить</button>
        </Footer>
    </Modal>
}


