
@inherits PaymentsBase



@if (isUpload)
{
    <InputPDFFile OnUploadReturnToPaiment="SetOrder" />


}
else
{
    @if (paymentsList == null)
    {
        <Spinner></Spinner>
    }
    else
    {
        <!-- Форма -->
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h2 class="text-center">Платежи за услуги ЖКХ </h2>
                    <!--Добавление нового платежа-->
                    <div class="row mb-3">
                        <div class="col">
                            <button class="btn btn-success" @onclick="()=>OpenModal()">Добавить</button>
                        </div>
                        @if (Invoice != null)
                        {
                            <div>
                                <button class="btn btn-info mr-3" @onclick="OnPaimentReturnToInvoices">Вернуться к квитанциям</button>
                            </div>
                        }

                    </div>


                    <!--  Таблица с платежами  -->
                    <table class="table table-sm table-bordered table-hover ">
                        <!--Заголовок таблицы-->
                        <thead class="table-dark">
                            <tr>
                                <th scope="col"> Период</th>
                                <th scope="col" class="w-auto">Наименование поставщика</th>
                                <th scope="col" class="w-auto">Сумма по квитанции</th>
                                <th scope="col" class="w-auto">Дата оплаты</th>
                                <th scope="col" class="w-auto">Сумма платежа</th>
                                <th scope="col" class="w-25"></th>
                                <th scope="col" class="w-auto"></th>
                            </tr>
                        </thead>
                        <!--Тело таблицы-->

                        @foreach (var item in paymentsList)
                        {
                            <tbody>
                                <tr>
                                    <!--Период-->
                                    <td>
                                        <div>
                                            @item.Invoice.Period
                                        </div>

                                    </td>
                                    <!--Наименование поставщика-->
                                    <td>
                                        <div>
                                            @item.Invoice.Provider.NameProvider
                                        </div>

                                    </td>
                                    <!--Сумма счета-->
                                    <td>
                                        <div>
                                            @item.Invoice.InvoiceSum
                                        </div>

                                    </td>
                                    <!--Дата оплаты-->
                                    <td>
                                        <div>
                                            @item.DatePayment
                                        </div>

                                    </td>
                                    <!--Сумма платежа-->
                                    <td>
                                        <div>
                                            @item.PaymentSum
                                        </div>

                                    </td>
                                    <!--Блок кнопок-->
                                    <td>
                                        <div class="text-center">
                                            <button class="btn btn-sm btn-info" @onclick="(() => Edit(item))">Изменить</button>
                                            <button class="btn btn-sm btn-danger" @onclick="(() => Remove(item))">Удалить</button>
                                        </div>
                                    </td>
                                    <!--Блок кнопок-->
                                    <td>
                                        <div class="text-center">
                                            <button class="btn btn-sm btn-warning " @onclick="(() => DownloadFile(item))">Платежка</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>

                </div>
            </div>
        </div>
    }

}

<!-- Modal -->
<Modal @ref="modal" CloseWindow="CloseModal">
    <Title>
        Добавление новой оплаты за услуги ЖКХ <br />
        Поставщик услуг ЖКХ: @Invoice.Provider.NameProvider <br />
        Период оплаты: @Invoice.Period
    </Title>
    <Body>
        <div class="row mb-3 text-center">
            <div class="col-1 text-center align-content-center">
                <!--Чек-бокс-->
                @if (paid)//Проверяем, был ли флажек в БД
                {
                    //Если был ставим атрибут checked

                    <input type="checkbox" checked="checked" value="paid" @onchange="(()=> paid = !paid)" class="align-content-center" />

                }
                else
                {
                    <input type="checkbox" value="paid" @onchange="(()=> paid = !paid)" class="align-content-center" />
                }
            </div>
            <div class="col-3">
                <input class="form-control text-center" placeholder="Дата оплаты" @bind-value="datePayment" />
            </div>
            <div class="col-3">
                <input class="form-control text-right" placeholder="Сумма платежа" @bind-value="paymentSum" />
            </div>
            <div class="col-5">
                <a class="btn btn-sm btn-outline-success" role="button" href="@Invoice.Provider.WebSite" target="_blank">Перейти к оплате</a>
                <button class="btn btn-sm btn-info" @onclick="UploadOrder">Загрузить платежку</button>
            </div>
        </div>
    </Body>
    <Footer>
        <button class="btn btn-sm btn-danger " @onclick="Add">Сохранить</button>
    </Footer>
</Modal>

