@page "/Services/Payments"

@inherits PaymentsBase



@if (isUpload)
{
    <UploadPDFComponent OnUploadReturnToPayment="SetOrder"/>
}
else
{
        <!-- Форма -->
    <FormTableComponent ItemsCollection="@paymentsList">
        <TableTitleFragment>
            Платежи за услуги ЖКХ
        </TableTitleFragment>
        <TableTitleButtonFragment>
            <!--Добавление нового платежа-->
            @if (Invoice != null)
            {
                <div class="col">
                    @if (!paymentsList.Any())
                    {
                        <button type="button" class="btn btn-success" @onclick="()=>OpenModal()">Добавить</button>
                    }
                    
                </div>
                <div>
                    <button class="btn btn-info mr-3" @onclick="OnPaimentReturnToInvoices">Вернуться к квитанциям</button>
                 </div>
            }
        </TableTitleButtonFragment>
        <TableHeaderFragment>
            <th scope="col"> Период</th>
            <th scope="col" class="w-auto">Наименование поставщика</th>
            <th scope="col" class="w-auto">Сумма по квитанции</th>
            <th scope="col" class="w-auto">Дата оплаты</th>
            <th scope="col" class="w-auto">Сумма платежа</th>
            @if (Invoice != null)
            {
                <th scope="col" class="w-25"></th>
            }
            <th scope="col" class="w-auto"></th>
        </TableHeaderFragment>
        <TableBodyFragment>
            <TableBodyComponent ItemsCollection="@paymentsList">
                <ItemFragment Context="context">
                    <RowPaymentsTable Payment="context" EditEvent="Edit" RemoveEvent="RemoveAsync" DownloadFileEvent="DownloadFile" Invoice="Invoice"/>
                </ItemFragment>            
            </TableBodyComponent>
        </TableBodyFragment>
    </FormTableComponent>
}

@if (Invoice != null)
{
    <!-- Modal -->
    <Modal @ref="modal" CloseWindow="CloseModal">
        <Title>
            Добавление новой оплаты за услуги ЖКХ <br /> 
        </Title>
        <Body>
            <ModalTableComponent T="@PaymentViewModel" ViewModel="paymentViewModel" SaveEvent="@AddAsync" >
                <TableTitleFragment>
                    Поставщик услуг ЖКХ: @Invoice.Provider.NameProvider <br />
                    Период оплаты: @Invoice.Period
                </TableTitleFragment>
                <TableHeaderFragment>
                    <th scope="col"  >Оплата</th>
                    <th scope="col" >Дата оплаты</th>
                    <th scope="col" >Сумма оплаты</th>
                    <th scope="col" class="w-25"></th>
                </TableHeaderFragment>
                <TableBodyFragment>
                    <td class="text-center align-content-center">
                        <InputCheckbox @bind-Value="@paymentViewModel.Paid" class="align-content-center" />
                    </td>
                    <td >
                        <InputDate class="form-control text-center" @bind-Value="paymentViewModel.DatePayment" />
                    </td>
                    <td >
                        <InputNumber class="form-control text-right" @bind-Value="paymentViewModel.PaymentSum" />
                    </td>
                    <td >
                        @if (!paymentViewModel.Paid)
                        {
                            <a class="btn btn-sm btn-outline-success" role="button" href="@Invoice.Provider.WebSite" target="_blank">Перейти к оплате</a>
                        }
                        
                    </td>
                </TableBodyFragment>
                <AnotherButton>
                    @if (payment != null && payment.IdPayment != 0 && paymentViewModel.Paid)
                    {
                        @if (payment.IdOrder != 0)
                        {
                            <button type="button" class="btn btn-danger" @onclick="RemoveOrderAsync">Удалить платежку</button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-success" @onclick="UploadOrder">Загрузить платежку</button>
                        }

                    }

                </AnotherButton>
            </ModalTableComponent>
        </Body>
    </Modal>
}


